1.Web Interface
    Containts an input field for the text to be analysed.
    Displays the text with the toxic spans highlighted.
    
    Extended documentation in ./WebInteface/.

2.Server / Aggregator
    Receives the request from the 1.Web Interface.
    Agregates the results from the two detection components.
    Returns the aggregated results from the two components.

    Extended documentation in ./Aggregator/.

3. Detection Component 1 
    Is an Python Library or an Web Service.
    Non NN approach using statistics or deterministics algorithms.
    Returns the toxic spans.

    Extended documentation in ./DetectionComponent1/.

4. Detection Component 2
    Is an Python Library or an Web service.
    Neural network approach.
    Returns the toxic spans.

    Extended documentation in ./DetectionComponent2/.

5. Preprocessing
    Is an Python Library on an Web Service.
    Components returns the preprocessed text including its normalization, lemmatization and stemming.
    Returns the result of the Preprocessing.

    Extended documentation in ./Preprocessing/.